<% content_for(:javascript) do -%>
<script type="text/javascript">
  <!--
     var identifier = <%= @document.id %>;
     var maximus    = <%= @pages.length %>;
    -->
</script>
<% end -%>
<div id="content">
  <div id="header">
    <p>Get your own <%= link_to "TinyDoc", root_url, :class => "light" %></p>
  </div>
<% unless @pages.empty? -%>
  <%= render :partial => "view_pdf" %>
<% else -%>
  <%= render :partial => "still_processing" %>
<% end -%>
</div>
